body {
	padding: 1rem;
}
.memorizerwrap {
	width: 100%;
}

.monologueenter {
	min-height: 40rem;
	display: block;
}

button.reset {
}

.monologue {
	border: 1px solid #666;
	width: 100%;
	min-height: 200rem;
	padding: .5rem;
	user-select: none;
}

hr {
	margin-bottom: 3rem;
}